body {
    background-color: #000;
    position: relative;
  }
  
  body .maskGroup {
    position: absolute;
    left: 0;
    top: 127px;
    width: 130px;
  }
  
  body .polygon {
    position: absolute;
    right: 350px;
    top: 200px;
    z-index: -2;
    width: 150px;
    height: 150px;
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  
  body .Rectangle {
    position: absolute;
    right: 60px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    top: 580px;
    z-index: -2;
    width: 150px;
    height: 150px;
  }
  