.navbar {
    height: 130px;
    background-color: #0a0a0a;
  }
  
  .navbar .container-fluid {
    padding: 0 20px;
  }
  
  .navbar .container-fluid a.navbar-brand img {
    margin-right: 10px;
  }
  
  .navbar .container-fluid a.navbar-brand h1 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
  }
  
  .navbar .container-fluid .collapse ul {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar .container-fluid .collapse ul li a {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 18px;
    position: relative;
  }
  
  .navbar .container-fluid .collapse ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0;
    background-color: #67ff0a;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  
  .navbar .container-fluid .collapse ul li a:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  